<!DOCTYPE html>
<html>
  <head>
    <title>Shitshifter Map Search</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/urlparser.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/map.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container">
      <% content %>
    </div>
  </body>
</html>

